.react__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}
/** flex:1 means the following: 
    flex-grow  : 1;    ➜ The div will grow in same proportion as the window-size       
    flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
    flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%.*/
.react__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
   
}

.react__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
    padding-bottom: 1rem;
}

.react__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

/** flex:2 -> element is twice the size (here: as the title) --- 
    (flex:1 -> every element has same size) */
.react__features-container__feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
    text-align: start;
    padding-left: 1rem;
}

.react__features-container__feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .react__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .react__features-container__feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .react__features-container__feature {
        margin: 1rem 0;
    }
}